<div class="modal SurveyResponseConfirmation" data-backdrop="static" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Response</h5>
      </div>
      <div class="modal-body">
        <p>Thank you for completing this survey</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="SubmitResponse();">Submit</button>
        <button type="button" class="btn btn-secondary close-popup" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>