<!--header start-->
<header class="header black-bg">
    
    <!--logo start-->
    <a href="#" class="logo"><b></b></a>
    <!--logo end-->
    <div class="nav notify-row" id="header_text">
      <span class="message">Survey</span>
    </div>
    
</header>
<!--header end-->